<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true" use-expressions="true">
        <security:access-denied-handler error-page="/accessDenied"/>
        <security:intercept-url pattern="/admin/**" access="hasAnyAuthority('RECEPTIONIST','ADMINISTRATOR')"/>
        <security:form-login
                login-page="/authentification"
                login-processing-url="/authentificate"
                authentication-failure-url="/authentification"
                username-parameter="email"
                password-parameter="userPassword"
                authentication-success-handler-ref="userAccountAuthentificationSuccessHandler"
                />

        <security:logout logout-url="/logout" logout-success-url="/" invalidate-session="true"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userAccountService"/>
    </security:authentication-manager>

    <security:global-method-security pre-post-annotations="enabled"/>

</beans>